table {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size:12px;
      text-align: center;
      width: 250px;
      border: 2px solid blue;
}

button {
  background: #0099ff;
  background-image: -webkit-linear-gradient(top, #0099ff, #009dff);
  background-image: -moz-linear-gradient(top, #0099ff, #009dff);
  background-image: -ms-linear-gradient(top, #0099ff, #009dff);
  background-image: -o-linear-gradient(top, #0099ff, #009dff);
  background-image: linear-gradient(to bottom, #0099ff, #009dff);
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  font-family: Arial;
  color: #050005;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

contenedorPrincipal{
    float:left;
}

contenedorContenido{
    float:left;
}