<h1>Entidad Bancaria</h1>
<form>
    <p>Id Entidad Bancaria: <input  type="text" name="idEntidadBancaria" ng-model="entidadBancaria.idEntidadBancaria" ng-disabled="(estado==='UPDATE') || (estado==='INSERT') || (estado==='VIEW') || (estado==='DELETE')" /></p> 
    <p>nombre: <input type="text" name="nombre" ng-model="entidadBancaria.nombre" ng-disabled=" (estado==='VIEW') || (estado==='DELETE')" /></p> 
    <p>Codigo Entidad: <input type="text" name="codigoEntidad" ng-model="entidadBancaria.codigoEntidad"ng-disabled="  (estado==='VIEW') || (estado==='DELETE')" /></p>
    <p>Fecha de creacion: <input type="text" name="fechaCreacion" ng-model="entidadBancaria.fechaCreacion"ng-disabled="  (estado==='VIEW') || (estado==='DELETE')" /></p>
    <p>Direccion: <input type="text" name="direccion" ng-model="entidadBancaria.direccion"ng-disabled="  (estado==='VIEW') || (estado==='DELETE')" /></p>
    <p>CIF: <input type="text" name="cif" ng-model="entidadBancaria.cif" ng-disabled=" (estado==='VIEW') || (estado==='DELETE')"/></p>
    <input ng-click="ok()" type="submit" ng-value="valorboton" /><input ng-click="cancel()" type="submit" value="cancel"/><br><br>
</form>
  <div id="errores">
            <div  class="alert alert-danger" ng-repeat="businessMessage in businessMessages"><span class="glyphicon glyphicon-exclamation-sign"></span> {{businessMessage.fieldName}}: {{businessMessage.mensaje}}</div>
        </div>
<br />

<div >
    <div ng-hide="(estado === 'INSERT')">
        <h1> Sucursales Asociadas</h1>
        <table>
            <thead>
                <tr class="success">
                    <th>Sucursal</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Código Entidad</th>
                    <th>Fecha Creación</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="sucursalBancaria in sucursalesBancarias" >
                    <td> {{sucursalBancaria.codigoSucursalBancaria}} </td>
                    <td> {{sucursalBancaria.direccion}}</td>
                    <td> {{sucursalBancaria.telefono}}</td>
                    <td> {{sucursalBancaria.entidadBancaria.codigoEntidad}}</td>
                        <td> {{sucursalBancaria.fechaCreacion| date:'dd/MMMM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>
    </div>

