<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="app">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="lib/angular/js/angular.js" type="text/javascript"></script>
        <script src="lib/angular/js/angular-locale_es-es.js" type="text/javascript"></script>
        <script src="findallAngular.js" type="text/javascript"></script>
    </head>
    <body ng-controller="indexController">
        <div>Angular</div>
        <h1>{{mensaje}}</h1>
        <br>
        mensaje:<input type="text" ng-model="mensaje">

        <table ng-hide="mensaje === 'pepe'">
            <tr>
                <td>identidadBancaria</td>
                <td>nombre</td>
            </tr>
            <tr ng-repeat="entidadBancaria in entidadesBancarias">
                <td>{{entidadBancaria.idEntidadBancaria}}</td>
                <td>{{entidadBancaria.nombre}}</td>
            </tr>
        </table>
    </body>
</html>
